body {
  font-family: Verdana;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
body header {
  text-align: center;
  padding: 10px;
  background: #e6ffff;
}
body header h1 {
  font-weight: 800;
}
body header h2 {
  color: grey;
  font-style: italic;
  font-size: 20px;
}
body nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 20px;
  background: darkgrey;
  color: white;
  padding: 5px;
}
body section {
  display: flex;
  width: 100%;
}
body section aside {
  width: 10%;
  background-image: url("../img/arbres.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
body section section {
  width: 80%;
  padding: 15px;
  display: block;
  text-align: center;
  background: lightgreen;
}
body footer {
  background: darkgrey;
  color: white;
  text-align: center;
  padding: 2px;
  margin-top: 20px;
}
